@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
html, body {
    margin: 0%;
  height: 100%;
  width: 100%;
}

#display{
  margin:20px auto;
  font-family: 'IBM Plex Mono', monospace;
  width: 465px;
  height: 60px;
  font-size: 40px;
  border-radius: 5px;
  background-color: rgb(26, 63, 26);
  color:white;
  text-align: right;
  padding:10px;
}

#calc{
  margin: 0 auto;
  font-family: 'IBM Plex Mono', monospace;
  font-size:30px;
  width:1000px;
  text-align: center;
  table-layout: fixed;
}
#calc td div{
  margin:5px;
  padding:30px 0;
  color:#eeffee;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
}
#calc td div:hover{
  background-color: rgb(46, 46, 46);
}

#case{
  padding:10px;
  background-color: rgb(98, 98, 100);
} 

.advanceCalc{
    visibility: collapse;
}

a:hover{
    color: rgb(57, 101, 188);
}/*
#square{
    background-color: aqua;
    left: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
}*/
